---
import Article from '../layouts/Article.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <Article>
    <p>Здесь должно быть мое резюме и хайкинг с прог роком</p>
  </Article>
</Layout>
