---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
import { sortPostsByPubDate } from '../utils/posts';

const posts = sortPostsByPubDate(await Astro.glob('./posts/*.mdx')).toArray();
---

<Layout title="Blog">
  <ul>
    {
      posts.map((p) => (
        <li>
          <BlogPost url={p.url} title={p.frontmatter.title} />
        </li>
      ))
    }
  </ul>
</Layout>
