---
import Layout from '../layouts/Layout.astro';
import { groupPostsByCycles } from '../utils/posts';
import Cycle from '../components/Cycle.astro';
import SimpleCard from '../components/base/SimpleCard.astro';

const rawPosts = await Astro.glob('./posts/**/*.mdx');

const cycles = groupPostsByCycles(rawPosts)
  .toArray()
  .sort(([n1, _c1], [_n2, _c2]) => (!!n1 ? -1 : 1));
---

<Layout title="Blog">
  <h2 class="text-xl text-gray-500">
    Серый цвет ссылки означает, что статья в разработке
  </h2>
  {cycles.map(([name, posts]) => <Cycle name={name} posts={posts} />)}
</Layout>
