---
import BlogPost from '../components/BlogPost.astro';
import Logo from '../components/Logo.astro';
import Article from '../layouts/Article.astro';
import Layout from '../layouts/Layout.astro';
import { findLatestPost } from '../utils/posts';

const latestPost = findLatestPost(await Astro.glob('./posts/*.md'));
---

<Layout title="SillyBlog">
  <div class="flex justify-between">
    <div class="self-end">
      <Logo width={300} />
    </div>
    <div class="rounded-3xl border-2 border-solid border-black bg-white p-4">
      <Article>
        <p>Всем привет в этом бложике</p>
        <p>
          Здесь я планирую заниматься неуемной графоманией по поводу и без,
          делиться своим опытом о работе/жилье в той стране, в которой нахожусь
          (на данный момент это Япония).
        </p>
        <p>
          Накидать список литературы которую я освоил и что из него могу
          порекомендовать.
        </p>
        <p>
          Ну и подтянуть свои навыки в разработке статических сайтов/SSR, а то
          всю жизнь делаю SPA, нужно <i>наверстать</i> упущенное.
        </p>
      </Article>
    </div>
  </div>
  <div class="mt-10">
    <p>
      А вот и последний пост: {
        latestPost && (
          <BlogPost
            url={latestPost?.url}
            title={latestPost?.frontmatter?.title}
          />
        )
      }
    </p>
  </div>

  <!-- <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} /> -->
</Layout>
