---
import Logo from '../components/base/Logo.astro';
import Article from '../layouts/Article.astro';
import Layout from '../layouts/Layout.astro';
import { findLatestPost } from '../utils/posts';
import { Converter } from 'showdown';
import Title from '../components/base/Title.astro';
import Post from '../layouts/Post.astro';

const latestPost = findLatestPost(await Astro.glob('./posts/*.md'));
const latestPostExists = latestPost && !latestPost.frontmatter.draft;
---

<Layout title="SillyBlog">
  <div class="flex justify-between">
    <div class="self-end">
      <Logo width={300} />
    </div>
    <div class="rounded-3xl border-2 border-solid border-black bg-white p-4">
      <Article>
        <p>Всем привет в этом бложике</p>
        <p>
          Здесь я планирую заниматься неуемной графоманией по поводу и без,
          делиться своим опытом о работе/жилье в той стране, в которой нахожусь
          (на данный момент это Япония).
        </p>
        <p>
          Накидать список литературы которую я освоил и что из него могу
          порекомендовать.
        </p>
        <p>
          Ну и подтянуть свои навыки в разработке статических сайтов/SSR, а то
          всю жизнь делаю SPA, нужно <i>наверстать</i> упущенное.
        </p>
      </Article>
    </div>
  </div>
  <div class="mt-10">
    <div>
      <h2 class="text-2xl">А вот и последний пост:</h2>
      {
        latestPostExists && (
          <Fragment>
            <Title>{latestPost?.frontmatter.title}</Title>
            <Post frontmatter={latestPost.frontmatter}>
              <Fragment
                set:html={new Converter().makeHtml(latestPost?.rawContent())}
              />
            </Post>
          </Fragment>
        )
      }
      {!latestPostExists && <p>Кажется постов еще нет :(</p>}
      <!-- <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} /> -->
    </div>
  </div>
</Layout>
