---
import Logo from '../components/base/Logo.astro';
import Article from '../layouts/Article.astro';
import Layout from '../layouts/Layout.astro';
import { findLatestPost } from '../utils/posts';
import BlogPost from '../components/BlogPost.astro';
import SimpleCard from '../components/base/SimpleCard.astro';
const latestPost = findLatestPost(await Astro.glob('./posts/**/*.mdx'));
const latestPostExists = latestPost && !latestPost.frontmatter.draft;
---

<Layout title="SillyBlog">
  <div class="flex justify-between">
    <div class="self-end">
      <Logo width={300} />
    </div>
    <div class="rounded-3xl border-2 border-solid border-black bg-white p-4">
      <Article>
        <p>Всем привет в этом бложике</p>
        <p>
          Здесь я планирую заниматься неуемной графоманией по поводу и без,
          делиться своим опытом о работе/жилье в той стране, в которой нахожусь
          (на данный момент это Япония).
        </p>
        <p>
          Накидать список литературы которую я освоил и что из него могу
          порекомендовать.
        </p>
        <p>
          Ну и подтянуть свои навыки в разработке статических сайтов/SSR, а то
          всю жизнь делаю SPA, нужно <i>наверстать</i> упущенное.
        </p>
      </Article>
    </div>
  </div>
  <div class="mt-10">
    <div class="mb-5">
      <SimpleCard>
        <p class="font-extrabold">ДИСКЛЕЙМЕР</p>
        <p>
          Я очень плохо представляю себе правовые основы написания подобных <s
            >трип</s
          >
          репортов, поэтому предупреждаю. Данный блог не отражает действительности
          и ведется от лица вымышленного человека, все совпадения с реальностью случайны,
          а персонажи не существуют.
        </p>
      </SimpleCard>
    </div>

    <div>
      <h2 class="mb-5 text-2xl">А вот и последний пост:</h2>
      {
        latestPostExists && (
          <BlogPost
            url={latestPost.url}
            title={latestPost.frontmatter.title}
            date={latestPost.frontmatter.pubDate}
            draft={latestPost.frontmatter.draft}
          />
        )
      }
      {!latestPostExists && <p>Кажется постов еще нет :(</p>}
      <!-- <Greeting client:load messages={['Hi', 'Hello', 'Howdy', 'Hey there']} /> -->
    </div>
  </div>
</Layout>
