---
import Book from '../components/Book.astro';
import Layout from '../layouts/Layout.astro';
import HideFromProd from '../components/base/HideFromProd.astro';

const books: any[] = [
  {
    name: 'Защита от темных искусств',
    author: 'Александр Панчин',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Data-Oriented Programming',
    author: 'Yehonathan Sharvit',
    link: 'https://www.amazon.com/Data-Oriented-Programming-Unlearning-Yehonathan-Sharvit/dp/1617298573/ref=sr_1_1?crid=31GEZXR203QAM&keywords=Data-Oriented+Programming&qid=1670920088&sprefix=grokking+simplicity%2Caps%2C264&sr=8-1',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Grokking Simplicity',
    author: 'Eric Normand',
    link: 'https://www.amazon.com/s?k=grokking+simplicity&sprefix=grokking+sim%2Caps%2C235&ref=nb_sb_ss_ts-doa-p_1_12',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Хаос. Создание новой науки',
    author: 'Джеймс Глейк',
    link: 'https://www.livelib.ru/book/1005551155-haos-sozdanie-novoj-nauki-dzhejms-glejk',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Спиральная динамика. Управляя ценностями, лидерством и изменениями в XXI веке',
    author: 'Дон Бек, Крис Кован',
    link: 'https://www.livelib.ru/book/1000455840-spiralnaya-dinamika-upravlyaya-tsennostyami-liderstvom-i-izmeneniyami-v-xxi-veke-don-bek',
    description: `В моем любимом подкасте "Серебряная Чпуля" теория спиральной динамики упоминается чуть ли не каждый выпуск,
      и я думаю есть за что. Если вы хотите понять, почему ваши светлые идеи находят отклик среди одной части,
      при этом совершенно неинтересны/противоположны мнению другой части коллектива, но при этом донести
      эту идею хочется до всех, то вы сможете подчерпнуть хороших идей из этой книги. Но здравая доля скепсиса
      при чтении вам не повредит, чтобы отфильтровать малость ненужной эзотерики и не воспринять ее всерьез.`,
  },
  {
    name: 'Frameworkless Front-End Development',
    author: 'Francesco Strazzullo',
    link: 'https://www.amazon.com/Frameworkless-Front-End-Development-Dependencies-Controlling/dp/1484249666/ref=sr_1_1?crid=23SRUV91PY8AL&keywords=Frameworkless+Front-End+Development&qid=1670994562&sprefix=%2Caps%2C305&sr=8-1',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Рефакторинг',
    author: 'Мартин Фаулер',
    link: 'https://www.livelib.ru/book/1000335711-refaktoring-uluchshenie-suschestvuyuschego-koda-dzhejn-roberts',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Высоконагруженные приложения. Программирование масштабирование поддержка',
    author: 'Мартин Клеппман',
    link: 'https://www.livelib.ru/book/1002777336-vysokonagruzhennye-prilozheniya-programmirovanie-masshtabirovanie-podderzhka-martin-kleppman',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Власть привычки',
    author: 'Чарльз Дахигг',
    link: 'https://www.livelib.ru/book/1005666589-vlast-privychki-pochemu-my-zhivem-i-rabotaem-imenno-tak-a-ne-inache-charlz-dahigg',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Чистый Agile. Основы гибкости',
    author: 'Роберт Мартин',
    link: 'https://www.livelib.ru/book/1004172637-chistyj-agile-osnovy-gibkosti-robert-martin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Чистый Код',
    author: 'Роберт Мартин',
    link: 'https://www.livelib.ru/book/1000770866-chistyj-kod-sozdanie-analiz-i-refaktoring-biblioteka-programmista-robert-martin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Сначала скажите "нет"',
    author: 'Джим Кэмп',
    link: 'https://www.livelib.ru/book/1000033174-snachala-skazhite-net-dzhim-kemp',
    description: `Я вообще очень скептически отношусь к книгами с такими названиями, но данная была рекомендована бюро Горбунова, так что я дал ей шанс и не зря.
       Поможет направить свое мышление в нужное русло и начинать вести переговоры (а все что нас окружает каждый день является переговорами) осмысленно и с выгодой для себя.`,
  },
  {
    name: 'Татарская пустыня',
    author: 'Дино Буццати',
    link: 'https://www.livelib.ru/book/1000311657-tatarskaya-pustynya-dino-butstsati',
    description: `Когда мне тяжело следовать своему пути, менять работу, страну, что-нибудь еще, я вспоминаю эту книгу.
      Я вижу таких же людей вокруг, в ожидании величия проводящих свою жизнь на нелюбимом месте и убеждаюсь, что мой путь верен.`,
  },
];
---

<Layout title="Literature">
  <p class="mb-5">
    Касательно ссылок. Для всех книг на русском я буду давать ссылки на Livelib,
    все книги на английском со ссылками на Amazon.
  </p>
  <HideFromProd>
    <div class="grid gap-5">
      {
        books.map((b) => (
          <div>
            <Book name={b.name} author={b.author} link={b.link}>
              {b.description}
            </Book>
          </div>
        ))
      }
    </div>
  </HideFromProd>
</Layout>
