---
import Book from '../components/Book.astro';
import Layout from '../layouts/Layout.astro';
import HideFromProd from '../components/base/HideFromProd.astro';

const books: any[] = [
  {
    name: 'Защита от темных искусств',
    author: 'Александр Панчин',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Data-Oriented Programming',
    author: 'Yehonathan Sharvit',
    link: 'https://www.amazon.com/Data-Oriented-Programming-Unlearning-Yehonathan-Sharvit/dp/1617298573/ref=sr_1_1?crid=31GEZXR203QAM&keywords=Data-Oriented+Programming&qid=1670920088&sprefix=grokking+simplicity%2Caps%2C264&sr=8-1',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Grokking Simplicity',
    author: 'Eric Normand',
    link: 'https://www.amazon.com/s?k=grokking+simplicity&sprefix=grokking+sim%2Caps%2C235&ref=nb_sb_ss_ts-doa-p_1_12',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Хаос. Создание новой науки',
    author: 'Джеймс Глейк',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Спиральная динамика. Управляя ценностями, лидерством и изменениями в XXI веке',
    author: 'Дон Бек, Крис Кован',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Frameworkless Front-End Development',
    author: 'Francesco Strazzullo',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Рефакторинг',
    author: 'Мартин Фаулер',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Высоконагруженные приложения. Программирование масштабирование поддержка',
    author: 'Мартин Клеппман',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Сила привычки',
    author: 'Чарльз Дахигг',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Чистый Agile. Основы гибкости',
    author: 'Роберт Мартин',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Чистый Код',
    author: 'Роберт Мартин',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description:
      'Если вы еще боитесь привидений, колдунов или одержимости, то эта книга определенно для вас. Она научит самому эффективному способу защититься от любого сглаза и порчи - не верить в них.',
  },
  {
    name: 'Сначала скажите "нет"',
    author: 'Джим Кэмп',
    link: 'https://www.livelib.ru/book/1002566942-zaschita-ot-temnyh-iskusstv-putevoditel-po-miru-paranormalnyh-yavlenij-aleksandr-panchin',
    description: `Я вообще очень скептически отношусь к книгами с такими названиями, но данная была рекомендована бюро Горбунова, так что я дал ей шанс и не зря.
       Поможет направить свое мышление в нужное русло и начинать вести переговоры (а все что нас окружает каждый день является переговорами) осмысленно и с выгодой для себя.`,
  },
];
---

<Layout title="Literature">
  <p class="mb-5">
    Касательно ссылок. Для всех книг на русском я буду давать ссылки на Livelib,
    все книги на английском со ссылками на Amazon.
  </p>
  <HideFromProd>
    {
      books.map((b) => (
        <div class="mb-5">
          <Book name={b.name} author={b.author} link={b.link}>
            {b.description}
          </Book>
        </div>
      ))
    }
  </HideFromProd>
</Layout>
