---
const { invert, leaveBlank } = Astro.props;

export interface Props {
  invert?: boolean;
  leaveBlank?: boolean;
}

const devMode = import.meta.env.DEV;
---

<Fragment>
  {!invert && devMode && <slot />}
  {
    (invert || !devMode) && !leaveBlank && (
      <p class="text-xl text-gray-500">В разработке</p>
    )
  }
</Fragment>
