---
import PostArticle from '../../layouts/PostArticle.astro';

const { title } = Astro.props;
---

<details class="m-3 rounded-2xl bg-white py-5 pl-7 pr-5 shadow-sm">
  <summary class="text-sky-700 marker:text-sky-700">{title}</summary>
  <div class="mt-3 text-gray-500">
    <PostArticle>
      <slot />
    </PostArticle>
  </div>
</details>
