---
import Date from './base/Date.astro';
import Link from './base/Link.astro';

const { url, title, date, order, draft } = Astro.props;
---

<span class="mr-2 text-gray-500">
  {
    order ? (
      order
    ) : (
      <span class="mr-3">
        <Date date={date} />
      </span>
    )
  }
</span>
<Link url={url}>{title}</Link>
<span class="ml-5 text-gray-400">{draft ? 'В разработке' : ''}</span>
