---
import Date from './base/Date.astro';
import Link from './base/Link.astro';

const { url, title, date, order, draft } = Astro.props;
---

<li>
  <span class="mr-5 text-gray-500">
    {order ? order : <Date date={date} />}
  </span>
  <Link url={url}>{title}</Link>
  <span class="ml-5 text-gray-400">{draft ? 'В разработке' : ''}</span>
</li>
