---
import IconLink from './base/IconLink.astro';
const { name, author, link } = Astro.props;
---

<div
  class="shadow-l rounded-xl border-2 border-solid border-gray-200 bg-white p-5"
>
  <div class="flex justify-between">
    <div>
      <h1 class="mb-1 text-2xl text-red-600">{name}</h1>
      <h2 class="mb-5 text-xl italic text-red-400">{author}</h2>
    </div>
    <span>
      <IconLink url={link} blank={true} />
    </span>
  </div>

  <slot />
</div>
