---
import Social from './Social.astro';
---

<footer
  class="mt-6 flex items-center justify-between gap-4 border-solid border-red-500 py-2 pr-4 align-middle"
>
  <p class="text-gray-400">With love 2022 @SillyCoon</p>
  <Social platform="github" username="sillycoon" icon="/github.png" />
</footer>
