---
import Social from './Social.astro';
---

<footer class="mt-6 gap-4 border-solid border-red-500 pr-4 align-middle">
  <div class="flex items-center justify-between pt-8 pb-2">
    <p class="text-gray-400">With love 2022 @SillyCoon</p>
    <Social platform="github" username="sillycoon" icon="/github.png" />
  </div>
</footer>
