---
import LetterLogo from './LetterLogo.astro';
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header class="sticky top-0 bg-red-600">
  <div class="mx-auto w-full max-w-80 px-4">
    <Hamburger />
    <nav class="flex h-14 flex-row items-center justify-between">
      <Navigation />
      <LetterLogo color="white" />
    </nav>
  </div>
</header>
