---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav class="navbar">
    <Navigation />
    <ThemeIcon />
  </nav>
</header>

<style>
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
</style>
