---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
---

<header class="h-[55px] bg-red-600 sm:sticky sm:top-0">
  <div class="mx-auto w-full max-w-80 px-4">
    <Hamburger />
    <nav class="flex items-center sm:h-14">
      <Navigation />
    </nav>
  </div>
</header>
