---
import NavLink from './NavLink.astro';
---

<div
  class="nav-links top-5 left-12 m-0 hidden w-full sm:static sm:block sm:bg-none"
>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/about/">About</NavLink>
  <NavLink href="/blog/">Blog</NavLink>
  <!-- <NavLink href="/tags">Tags</NavLink> -->
  <NavLink href="/literature">Literature</NavLink>
</div>
