---
import NavLink from './NavLink.astro';
---

<div
  class="nav-links bg-primary top-5 left-12 m-0 hidden w-full bg-red-600 sm:static sm:block sm:w-auto sm:bg-none"
>
  <NavLink href="/">Home</NavLink>
  <NavLink href="/about/">About</NavLink>
  <NavLink href="/blog/">Blog</NavLink>
  <NavLink href="/tags">Tags</NavLink>
</div>
