---
import { getUniqueTags } from '../utils/tags';
import Tag from './Tag.astro';

const { posts } = Astro.props;
const tags = getUniqueTags(posts);
---

<div class="mx-0 my-auto flex flex-wrap">
  {tags.map((tag) => <Tag name={tag} />)}
</div>
