---
import Tag from './Tag.astro';
import { Set } from 'immutable';

export interface Props {
  tags: string[];
}

const { tags } = Astro.props;
const uniqueTags = Set(tags).toArray();
---

<div class="mx-0 my-auto flex flex-wrap">
  {uniqueTags.map((tag) => <Tag name={tag} />)}
</div>
